.custom_title{
  font-size: 2.2rem;
}

.t-center{
  text-align: center;
}

.f-small{
  font-size: 1.4rem;
}

.f-normal{
  font-size: 1.6rem;
}

.f-medium{
  font-size: 1.8rem;
}

.f-large{
  font-size: clamp(1.9rem,1.5rem + 2vw, 2.4rem);
}

.f-bold{
  font-weight: bold;
}



.mrg-large{
  margin: 6rem 0;
}
.custom-title{
  
  font-weight: 700;
  text-align: center;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.custom-title::before{
  content: "---------";
  text-indent: -15000px;
  border-top: 5px solid #43bacc;
  display: inline-block;
  line-height: 0;
  width: 5%;
  margin: 10px;
  vertical-align: middle;

}
.custom-title::after{
  content: "---------";
  text-indent: -15000px;
  border-top: 5px solid #43bacc;
  display: inline-block;
  line-height: 0;
  width: 5%;
  margin: 10px;
  vertical-align: sub;
}

.discount{
  text-decoration: line-through;
  color: #000000c4;
}

.btn-normal{
  width: 100%;
  padding: .8rem;
  background: none;
  border: 2px solid #43bacc;
  color: #085f6d;
  cursor: pointer;
}

.btn-normal:hover{
  background-color: #085f6d4d;
}
